header {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

header * {
	margin: 5px;
}

#navbar {
	height: 5%;
	margin: 0;
	padding: 0;
	background-color: LightBlue;
}

#navbar ul {
	text-align: left;
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 5px;
}

#navbar li {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#page {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#sidebar {
	vertical-align: top;
	width:  10%;
	height: 100%;
	margin: 0;
	display: inline-block;
	float: left;
}

#sidebar * {
	padding-left: 5px;
}

#sidebar ul {
	list-style-type: none;
	display: block;
	margin:0;
	padding:0;
}

#sidebar li {
	margin: 0;
	padding: 5px;
	display: block;
}

#content {
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

footer {
	width: 100%;
	height: 5%;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

footer * {
	margin: 5px;
}

img.centered {
	display: block;
	margin: 0 auto;
}
h1.centered {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color: #333;
	background: #fff;
}
/* vim:set noet ts=4 sw=4: */
