{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "gallery_app/css/base.css" %}">
		<title>{% block title %}Gallery{% endblock title %}</title>
	</head>

	<body>
		{% block body %}
			<header>
				{% block header %}
					<h1>duck gallery</h1>
				{% endblock header %}
			</header><nav id="navbar">
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'list' %}">Gallery</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
				</ul>
			</nav>
			<div id="page">
				{% block page %}

				{% endblock page %}
			</div>
			<footer>
				{% block footer %}
					<p>Copyright 2017 Robert Quitt</p>
				{% endblock footer %}
			</footer>
		{% endblock body %}
	</body>
</html>
