{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "gallery/base.css" %}">
		<title>{% block title %}Gallery{% endblock title %}</title>
	</head>

	<body>
		<header>
			{% block header %}
				<h1>duck gallery</h1>
			{% endblock header %}
		</header><nav id="navbar">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
			</ul>
		</nav>
		<div id="wrapper">
			<nav id="sidebar">
				{% block sidebar %}
					<ul>
						<li><a href="{% url 'list' %}">list</a></li>
						{# <li><a href="{% url 'tags' %}">tags</a></li> #}
						<li><a href="{% url 'index' %}">index</a></li>
					</ul>
				{% endblock sidebar %}
			</nav><div id="content">
				{% block content %}{% endblock content %}
			</div>
		</div>
		<footer>
			{% block footer %}
				<h3>Copyright 2017 Robert Quitt</h3>
			{% endblock footer %}
		</footer>
	</body>
</html>
