{% extends "base_sidebar.html" %}

{% block title %}Image{% endblock title %}

{% block content %}
<h2>{{ image.title }}</h2>
<img class="centered" src="{{ image.image.url }}" style="max-height:60%; max-width:80%;">
<p>Uploaded: {{ image.uploaded }}</p>
<p>Original filename: {{ image.filename }}</p>
{% endblock content %}

{% block sidebar %}
<h3>Tags</h3>
{% if tags %}
<ul>
		{% for tag in tags %}
		<li><a href="{% url 'tag' pk=tag.pk %}">{{ tag.label }}</a></li>
		{% endfor %}
</ul>
{% else %}
<p>Image has no tags.</p>
{% endif %}
{% endblock sidebar %}
