{% extends "base_sidebar.html" %}

{% block title %}Image{% endblock title %}

{% block content %}
<h2>{{ image.title }}</h2>
<img class="centered" src="{{ image.image.url }}" style="max-height:60%; max-width:80%;">
<p>Uploaded: {{ image.uploaded }}</p>
{% endblock content %}

{% block sidebar %}
<p>Tags:</p>
{% if tags %}
	<ul>
		{% for tag in tags %}
			<li><a href="{% url 'tag' pk=tag.pk %}">{{ tag.label }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No tags.</p>
{% endif %}
<p>Links:</p>
<p><a href="{% url 'list' %}">list</a></p>
{% endblock sidebar %}
