{% extends "base_sidebar.html" %}

{% load thumbnail %}

{% block content %}
{% if tag %}
	<h3>Tag: {{ tag.label }}</h3>
	<h3>Images</h3>
	{% if images %}
		<ul>
			{% for image in images %}
				{# <a href="{% url 'image' image.id %}">{{ image.image.url }}</a> #}
				{% thumbnail image.image '150x150' crop='center' as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				{# <li><a href="{% url 'image' pk=image.id %}">{{ image.image.name }}</a></li> #}
			{% endfor %}
		</ul>
	{% else %}
		<p>No images.</p>
	{% endif %}
{% endif %}
{% endblock content %}
